body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  width: 100%;
}

.menu {
  display: none;
}

ul {
  list-style: none;
  display: flex;
}

li {
  padding-right: 10px;
}

#display-items {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-gap: 10px;
  align-items: center;
}

.centered-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#display-items img {
  height: 150px;
  object-fit: contain;
  margin-bottom: 10px;
}

#display-items button {
  width: 100px;
}

@media (min-width: 750px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .menu {
    display: inherit;
  }

  .mobile-menu {
    display: none;
  }
}
