@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #302e37;
  color: #c1c7d0;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 10px;
}

body.popup-open {
  overflow: hidden;
}

.desactivate {
  background: yellow;
}

main {
  display: flex;
  transition: background 1s;
}

main section {
  padding-top: 15px;
}

aside {
  width: 30%;
  box-sizing: border-box;
  background-color: black;
  min-width: 300px;
  height: auto;
  margin-right: 3px;
}

.heart {
  color: hotpink;
  cursor: pointer;
}

.date {
  font-size: smaller;
  color: antiquewhite;
}

.username {
  color: aquamarine;
  font-weight: bold;
}

.pokemon-likes {
  margin-top: 7px;
  opacity: 0;
  transition: opacity 500ms;
}

.popup-hidden {
  display: none;
}

.popup-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background: #171618;
  border-radius: 16px;
  padding: 30px;
  color: white;
  display: flex;
  align-content: center;
}

.popup-modal::-webkit-scrollbar {
  width: 0;
}

.popup-datas {
  display: flex;
  flex-direction: column;
}

.pokemon-characteristics {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  align-content: center;
  align-items: center;
  justify-content: center;
  list-style: none;
  height: 201px;
}

.pokemon-comments,
.popup-close {
  display: flex;
  justify-content: end;
}

.popup-image {
  text-align: center;
}

.popup-image img {
  max-width: 200px;
}

.popup-pokemon {
  margin-bottom: 10px;
}

h1 {
  font-size: 24px;
  color: yellow;
  text-align: center;
}

h2 {
  margin: 20px 0 10px 5px;
  text-align: left;
  font-size: 20px;
}

h4 {
  margin: 20px 0 10px 5px;
  text-align: left;
  font-size: 18px;
}

.comments-box {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 24%;
}

.pokemon-comments {
  border-radius: 10px;
  margin: 6px;
  display: flex;
  justify-content: center;
  font-size: 16px;
  background: #302e37;
  overflow: scroll;
}

.pokemon-comments li {
  margin: 5px;
}

.pokemon-characteristics li {
  margin: 20px;
}

.pokemon-characteristics li:nth-child(odd) {
  color: yellow;
}

.pokemon-characteristics,
.pokemon-comments {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 20px;
}

.pokemon-comments::-webkit-scrollbar {
  width: 0;
}

.popup-modal i {
  font-size: 40px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input,
form textarea {
  margin: 5px;
  width: 200px;
  font-size: 14px;
  line-height: 20px;
  border-radius: 5px;
  border: 1px solid #e2d6a8;
  padding: 10px;
}

.add-comment-form button {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #e2d6a8;
  margin: 5px;
}

.popup-close {
  display: flex;
  justify-content: end;
  position: fixed;
  right: 30px;
}

.popup-pokemon h3 {
  font-size: 30px;
  margin: 20px 0;
}

#display-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  box-sizing: border-box;
}

#display-items li {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
  box-sizing: border-box;
  padding: 10px;
}

#display-items li img {
  width: 100%;
  max-width: 100px;
  filter: grayscale(100%);
  transition: filter 500ms;
}

#display-items li:hover img {
  filter: grayscale(0%);
}

#display-items li:hover {
  box-shadow: 1px 1px 10px #ccba59;
  border-radius: 10px;
}

.pokemon-name {
  color: #e2d6a8;
  opacity: 0;
  transition: opacity 500ms;
  font-size: 16px;
  padding-bottom: 10px;
}

#display-items li:hover .pokemon-name {
  opacity: 1;
}

#display-items button {
  color: black;
  opacity: 0;
  transition: opacity 500ms;
  font-size: 12px;
  background-color: #e2d6a8;
  border-radius: 6px;
  margin: 10px;
  padding: 4px;
  border: none;
}

#display-items li:hover button {
  opacity: 1;
}

#display-items li:hover .pokemon-likes {
  opacity: 1;
}

small {
  font-size: small;
}

.load-more {
  text-align: center;
  margin-bottom: 30px;
}

#load-more {
  font-size: xx-large;
}

@media (min-width: 750px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  #display-items {
    grid-template-columns: 250px 250px 250px;
  }

  #load-buttons {
    margin: 0;
    width: 100%;
  }

  .pokemon-characteristics {
    height: auto;
    flex-grow: 2;
  }

  .popup-close {
    right: 160px;
    cursor: pointer;
  }

  .popup-modal {
    top: 100px;
    left: 33%;
    right: 10%;
    bottom: 100px;
  }

  .pokemon-characteristics i {
    font-size: 25px;
  }

  .pokemon-characteristics li {
    margin: 5px;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .pokemon-characteristics li span {
    width: 55px;
    text-align: right;
    margin-right: 10px;
  }

  .popup-image {
    flex-grow: 2;
  }

  .popup-pokemon {
    display: flex;
    flex-grow: 3;
  }

  .popup-hidden {
    display: none;
  }

  form {
    flex-direction: row;
  }
}

/*
body * {
  font-size: 1.2rem;
}

h1 {
  display: inline;
}

a {
  text-decoration: none;
  color: inherit;
}

footer {
  text-indent: 20px;
  width: 100%;
  margin: 0;
  padding: 40px 0;
  border-top: 2px solid #3d3d3d;
  border-bottom: 2px solid #3d3d3d;
  position: relative;
  bottom: 0;
  margin-top: 100px;
  text-align: center;
}

main > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: #302e37;
  box-shadow: rgb(37, 36, 36) 0 5px 5px;
  z-index: 2;
}

button {
  border: none;
  cursor: pointer;
  padding: 5px 0;
  border-radius: 5px;
  filter: invert(80%);
  transition: 250ms filter ease-in;
}

button:hover {
  filter: invert(20%);
}

ul {
  list-style: none;
  display: flex;
}

li {
  padding-right: 10px;
}

.logo {
  width: 200px;
  object-fit: contain;
}

.date {
  font-size: smaller;
  color: antiquewhite;
}

.username {
  color: aquamarine;
  font-weight: bold;
}

.pokemon-name {
  padding: 5px 0;
}

.pokemon-characteristics i {
  font-size: xx-large;
}

.card {
  border-radius: 10%;
  box-shadow: #c2bfbf 0 0 20px;
  padding: 15px 30px;
  transform: scale(1);
  transition: 250ms transform ease-in;
  animation: slide-in ease-out 250ms 1;
}

@keyframes slide-in {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}

.card:hover {
  transform: scale(1.12, 1.1);
}

.pokemon-section {
  margin: 50px;
}

.centered-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#display-items img {
  height: 150px;
  object-fit: contain;
  margin-bottom: 10px;
}

#display-items button {
  width: 100px;
}

.no-display {
  display: none;
}

.like {
  font-size: 0.8rem;
}

#load-buttons {
  margin: 10px;
  display: flex;
  width: 300px;
  justify-content: space-between;
}

#load-buttons > button {
  filter: invert(20%);
  padding: 5px 5px;
}

@media (min-width: 750px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  #display-items {
    grid-template-columns: 250px 250px 250px;
  }

  #load-buttons {
    margin: 0;
    width: 100%;
  }

  .pokemon-characteristics {
    height: auto;
  }

  .popup-close {
    right: 120px;
    cursor: pointer;
  }

  .popup-modal {
    top: 100px;
    left: 100px;
    right: 100px;
    bottom: 100px;
  }

  .pokemon-characteristics i {
    font-size: 25px;
    margin: 10px;
  }

  .pokemon-characteristics li {
    margin: 5px;
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  .popup-image {
    flex-grow: 2;
  }

  .popup-pokemon {
    display: flex;
    align-items: center;
  }

  .popup-hidden {
    display: none;
  }

  form {
    flex-direction: row;
  }
}

@media (min-width: 1100px) {
  #show-less {
    position: fixed;
    left: 7.5%;
    top: 50%;
  }

  #load-more {
    position: fixed;
    right: 7.5%;
    top: 50%;
  }
}

*/
